@font-face {
  font-family: "Headline";
  src: url("HEADOH__.TTF");
}

/* to make the footer work */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.sect-title {
  font-weight: 300;
  padding: 20px;
}

.parallax-container {
  height: 700px;
}

.parallax-container img {
  max-width: 100%;
}

.header-caption {
  position: absolute;
  right: 20%;
  top: 55%;
  color: white;
  text-align: right;
  font-family: "Headline";
  -webkit-text-stroke: 2px black;
}

.head-img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

#background-fill {
  background: url("fill.jpg") no-repeat center #fff;
  background-blend-mode: luminosity;
  background-size: cover;
}

.video-box {
  margin: 20px;
}