.row+.row {
  margin-top: 3rem;
}

.backgrounded {
  background-image: url("../DSC_0480.jpg");
  background-size: cover;
}

.col-auto + .col-auto {
  margin-left: 2rem;
}

#color-box {
  background-color: rgba(100,100,100,0.5);
}

.bordered {
 color: black;
 -webkit-text-fill-color: white; /* Will override color (regardless of order) */
 -webkit-text-stroke-width: 2px;
 -webkit-text-stroke-color: black;
}

.prof {
  width: 30% !important;
}

.logo {
  margin: 10px;
  margin-left: 20px;
}

.logo:hover {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.flow-text {
  font-weight: 300;
}

.vid {
  width: 100%;
  height: 315px;
}

.row.d-flex {
    height: 100vw;
    max-height: calc(100vh * 2);
}

@media (min-width: 600px) {
    .pb-3 {
        flex: initial;
        display: block;
        
    }
}

@media (min-width: 600px) and (max-width: 730px) {
    .row.d-flex {
        max-height: 1200px;
        height: 1200px;
    }
}


@media (min-width: 731px) and (max-width: 1200px) {
    .row.d-flex {
        max-height: 1200px;
    }
}

@media only screen and (min-width: 360px) {
  .flow-text {
    font-size: calc(1.2rem * 3.5);
  }
}

@media only screen and (min-width: 390px) {
  .flow-text {
    font-size: calc(1.224rem * 3.5);
  }
}

@media only screen and (min-width: 420px) {
  .flow-text {
    font-size: calc(1.248rem * 3.5);
  }
}

@media only screen and (min-width: 450px) {
  .flow-text {
    font-size: calc(1.272rem * 3.5);
  }
}

@media only screen and (min-width: 480px) {
  .flow-text {
    font-size: calc(1.296rem * 3.5);
  }
}

@media only screen and (min-width: 510px) {
  .flow-text {
    font-size: calc(1.32rem * 3.5);
  }
}

@media only screen and (min-width: 540px) {
  .flow-text {
    font-size: calc(1.344rem * 3.5);
  }
}

@media only screen and (min-width: 570px) {
  .flow-text {
    font-size: calc(1.368rem * 3.5);
  }
}

@media only screen and (min-width: 600px) {
  .flow-text {
    font-size: calc(1.392rem * 3.5);
  }
}

@media only screen and (min-width: 630px) {
  .flow-text {
    font-size: calc(1.416rem * 3.5);
  }
}

@media only screen and (min-width: 660px) {
  .flow-text {
    font-size: calc(1.44rem * 3.5);
  }
}

@media only screen and (min-width: 690px) {
  .flow-text {
    font-size: calc(1.464rem * 3.5);
  }
}

@media only screen and (min-width: 720px) {
  .flow-text {
    font-size: calc(1.488rem * 3.5);
  }
}

@media only screen and (min-width: 750px) {
  .flow-text {
    font-size: calc(1.512rem * 3.5);
  }
}

@media only screen and (min-width: 780px) {
  .flow-text {
    font-size: calc(1.536rem * 3.5);
  }
}

@media only screen and (min-width: 810px) {
  .flow-text {
    font-size: calc(1.56rem * 3.5);
  }
}

@media only screen and (min-width: 840px) {
  .flow-text {
    font-size: calc(1.584rem * 3.5);
  }
}

@media only screen and (min-width: 870px) {
  .flow-text {
    font-size: calc(1.608rem * 3.5);
  }
}

@media only screen and (min-width: 900px) {
  .flow-text {
    font-size: calc(1.632rem * 3.5);
  }
}

@media only screen and (min-width: 930px) {
  .flow-text {
    font-size: calc(1.656rem * 3.5);
  }
}

@media only screen and (min-width: 960px) {
  .flow-text {
    font-size: calc(1.68rem * 3);
  }
}

@media only screen and (max-width: 360px) {
  .flow-text {
    font-size: calc(3.5 * 1.2rem);
  }
}