<template name="header">
  <!-- <div class="navbar-fixed"> -->
    <nav class="red darken-2">
      <div class="container">
        <div class="nav-wrapper">
          <a class="brand-logo" style="font-weight: 200" href="/">TEXAS SONGHORNS</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="mailto:info@songhorns.org"><i class="material-icons left">email</i>Email</a></li>
            <li><a href="http://youtube.com/TexasSonghorns"><i class="material-icons left">play_arrow</i>YouTube</a></li>
            <li><a href="http://facebook.com/TexasSonghorns"><i class="material-icons left">thumb_up</i>Facebook</a></li>
          </ul>
        </div>
      </div>
    </nav>
  <!-- </div> -->
</template>