<template name="adminLogin">
  <div class="container">
    <h5 class="sect-title center">ADMIN LOGIN</h5>
    <p class="center"><em>This page is used to log in to our CMS. If you are not our current webmaster, click the logo to be redirected to the main page.</em></p>

    <form class="row valign-wrapper">
      <div class="input-field col s12 m5">
        <input id="username" type="text" class="validate">
        <label for="username">Username</label>
      </div>
      <div class="input-field col s12 m5">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
      <div class="col s12 m2 valign">
        <button class="btn waves-effect waves-light" type="submit" name="action">Login
        </button>
      </div>
    </form>
  </div>
</template>