<template name="about">
  <div class="row">
    <div class="col s12 m6">
      <h5 class="sect-title center">ABOUT US</h5>
      <p>The Texas Songhorns is the premier tenor and bass a cappella group at the University of Texas. Founded in 2011, we've participated in the International Competition of Collegiate A Cappella (ICCA), Texas Revue (UT's largest talent show), and many other prestigious locations.</p>

      <p>Our repertoire varies widely, from mid-20th-century R&B to Top 40. <a href="repertoire.html">Here's a list of some of the songs we sing.</a> You can also see some of our music on our <a href="http://youtube.com/TexasSonghorns">YouTube page</a>.</p>

      <p>While our repertoire varies with our members' tastes, one thing remains the same: we don't take ourselves too seriously. We're living proof that a cappella groups can be serious about our content and relaxed about our group.</p>
    </div>
    <div class="col s12 m6">
      <h5 class="sect-title center">AUDITIONS</h5>
      <p>Unfortunately, the Songhorns will not be holding auditions for Spring 2016. If you're interested in joining, follow us on Facebook and we'll keep you updated with audition information around August 2016!</p>

      <p>The Songhorns are looking for an arranger to work with us and write songs for us! If you're interested, contact us at <a href="mailto:info@songhorns.org">info@songhorns.org</a> with your background in music composition and we'll send you the details of the gig. Prior experience in arranging for a cappella, while not necessary, is preferred.</p>
<!--       <p>Auditions will be held on Wednesday, September 3 and Thursday, September 4 at 7 PM in Parlin (PAR) 204. You will be expected to perform 30 seconds of a piece you know, preferably something contemporary, that will show off your talent as a singer. We will also conduct a range test to give us an idea of where your voice is. Auditions will last roughly five minutes each. You can expect an email about your callback status on or by Sunday, September 7. This email will include details about the time and location of callbacks, as well as what we will expect. For more information, contact us at info@songhorns.org.</p>
 -->    </div>
  </div>
</template>