<template name="footer">
  <footer class="page-footer red">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">More Information</h5>
          <p class="grey-text text-lighten-4">Interested in booking the Songhorns? Reach out to us at <a href="mailto:info@songhorns.org" class="blue-text text-lighten-4">info@songhorns.org</a> for details about availability, pricing, and repertoire. We have performed for a variety of events, both on and off UT's campus.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Contact Us</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="mailto:info@songhorns.org">Email</a></li>
            <li><a class="grey-text text-lighten-3" href="http://youtube.com/TexasSonghorns">YouTube</a></li>
            <li><a class="grey-text text-lighten-3" href="http://facebook.com/TexasSonghorns">Facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="/aboutthiswebsite.html">About this website</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2015 The Texas Songhorns
      </div>
    </div>
  </footer>
</template>