<template name="memberCard">
  <div class="col s6 m4">
    <div class="card hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img src="/profiles/{{username}}.jpg" class="activator responsive-img">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{name}} '{{yr}}</span>
        <p>{{#each roles}}{{this}}{{/each}} </p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{name}} '{{yr}}<i class="material-icons right">close</i></span>
        {{description}}
        <br>
        <br>
        <b>Major:</b> {{major}}
      </div>
    </div>
  </div>
</template>